*.pyc
*.xml
Tests/delete.py
work_models/model_3/pictures/
work_models/model_3/backup/result_13
work_models/model_3/backup/
work_models/model_2/result_11
work_models/model_2/result_12
work_models/model_2/result_13
work_models/model_2/result_14
work_models/model_2/result_15
work_models/model_2/result_16
work_models/model_2/result_17
work_models/model_2/result_18
work_models/model_2/result_19
work_models/model_2/result_2
work_models/model_2/result_20
work_models/model_2/result_3
work_models/model_2/result_4
work_models/model_2/result_5
work_models/model_2/result_6
work_models/model_2/result_7
work_models/model_2/result_8
work_models/model_2/result_9
work_models/model_2/result_average
work_models/model_2/result_10
work_models/model_3/result_10
work_models/model_3/result_11
work_models/model_3/result_12
work_models/model_3/result_13
work_models/model_2/pictures/
work_models/model_3/result_3
work_models/model_3/result_4
work_models/model_3/result_5
work_models/model_3/result_6
work_models/model_3/result_7
work_models/model_3/result_8
work_models/model_3/result_9
work_models/model_3/result_average
work_models/model_3/result_16
work_models/model_3/result_17
work_models/model_3/result_18
work_models/model_3/result_19
work_models/model_3/result_20
work_models/model_2/backup/
work_models/model_4/backup/
work_models/model_1/test/
work_models/model_1/result_average
work_models/model_3/result_14
work_models/model_3/result_15
work_models/model_1/result_8
work_models/model_1/result_9
work_models/model_1/result_7
work_models/model_4/pictures/
work_models/model_1/pictures/
work_models/model_1/backup/
work_models/model_1/result_26
work_models/model_1/result_27
work_models/model_4/result_1
work_models/model_4/result_10
work_models/model_4/result_11
work_models/model_4/result_12
work_models/model_4/result_13
work_models/model_4/result_14
work_models/model_4/result_15
work_models/model_4/result_16
work_models/model_4/result_17
work_models/model_4/result_18
work_models/model_4/result_19
work_models/model_4/result_2
work_models/model_4/result_20
work_models/model_4/result_21
work_models/model_4/result_3
work_models/model_4/result_4
work_models/model_4/result_5
work_models/model_4/result_6
work_models/model_4/result_7
work_models/model_4/result_8
work_models/model_4/result_9
work_models/model_4/result_average
work_models/model_1/result_10
work_models/model_1/result_11
work_models/model_1/result_12
work_models/model_1/result_13
work_models/model_1/result_14
work_models/model_1/result_15
work_models/model_1/result_16
work_models/model_1/result_17
work_models/model_1/result_18
work_models/model_1/result_19
work_models/model_1/result_20
work_models/model_1/result_21
work_models/model_1/result_22
work_models/model_1/result_23
work_models/model_1/result_24
work_models/model_1/result_25
work_models/model_5/result_2
work_models/model_5/result_3
work_models_v2/*
